@font-face {font-family: "iconfont";
  src: url('iconfont.woff?t=1557561832107') format('woff'),
  url('iconfont.ttf?t=1557561832107') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caidan:before {
  content: "\e62f";
}

.icon-tongzhi:before {
  content: "\e61d";
}

.icon-icon-test:before {
  content: "\e61e";
}

